@import url("https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/montserrat/loader.css");
@import url("https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/roboto-mono/loader.css");

:root {
  --md-text-font: "Montserrat", sans-serif;
  --md-code-font: "Roboto Mono", monospace;
}

[data-md-color-scheme="slate"] * {
  --md-typeset-a-color: #3f5af6;
}

@keyframes logo {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

.md-logo {
  animation: logo 1000ms 1;
}

.md-typeset h1 {
  font-weight: 900;
}

.md-typeset h2 {
  font-weight: bold;
}

.md-typeset h3 {
  font-weight: bold;
}